canvas {
    width: 100%;
    height: auto;
    margin: 20px auto;
    display: block;
}

@media (min-width: 768px) {
    canvas {
        width: 80%;
    }
}

@media (min-width: 1200px) {
    canvas {
        width: 50%;
    }
}

/* Table Styles */
table {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #dddddd;
}

th, td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 10px;
}

th {
    cursor: pointer;
    background-color: #f2f2f2;
}

th:hover {
    background-color: #e0e0e0;
}

#backButton {
    top: 10px;
    left: 10px;
    background-color: rgba(255, 255, 255, 0.5); /* Half-transparent white background */
    border: 1px solid #ccc;
    padding: 10px 20px; /* Increased padding for better appearance */
    cursor: pointer;
    text-decoration: none; /* Remove underline */
    color: #333; /* Text color */
    border-radius: 5px; /* Rounded corners */
}
/* Remove underline from hyperlinks */
a {
    text-decoration: none;
}

/* Title Styles */
.chart-title {
text-align: center;
font-size: 14px;
margin-bottom: -100px;
font-family: Arial, sans-serif; /* Set the desired font */
color: #555; /* Set the desired text color */
}

/* Title Styles-Main */
.chart-title-main {
text-align: center;
font-size: 14px;
margin-bottom: 0px;
font-family: Arial, sans-serif; /* Set the desired font */
color: #555; /* Set the desired text color */
}

/* Table Styles */
table {
  border-collapse: collapse;
  width: 100%;
  border: 1px solid #dddddd;
}

th, td {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 10px;
}

th {
  cursor: pointer;
  background-color: #f2f2f2;
}

th:hover {
  background-color: #e0e0e0;
}

/* Indicate clickable headers */
.sortable-header:after {
  content: ' ⇅'; /* Unicode for up-down arrow */
  font-size: 0.8em;
  margin-left: 5px;
}

/* Remove arrow content when not sorted */
.sortable-header[data-sorted="false"]:after {
  content: ' ⇅'; /* Add arrow content when not sorted */
}

.sortable-header[data-sorted="true"]:after {
  content: ' ⇅'; /* Keep arrow content when sorted */
}

#map {
  height: 500px;
  width: 100%;
}
#leaderboard {
  margin-top: 20px;
  font-family: Arial, sans-serif;
}
#leaderboard h2 {
  font-size: 24px;
  color: #333;
  margin-bottom: 10px;
  position: relative;
}
#leaderboard h2 sup {
  position: absolute;
  top: -20px;
  left: 0;
  font-size: 9px;
  font-family: Arial, sans-serif;
  font-weight: normal;
  letter-spacing: 0px;
}
#leaderboard h2 span {
  font-weight: normal;
}
#leaderboard table {
  width: 100%;
  border-collapse: collapse;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  overflow: hidden;
}
#leaderboard th, #leaderboard td {
  padding: 12px;
  border-bottom: 1px solid #f2f2f2;
  text-align: left;
}
#leaderboard th {
  background-color: #f5f5f5;
  color: #333;
  font-weight: bold;
  text-transform: uppercase;
}
#leaderboard td {
  color: #666;
}
#leaderboard tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}
#leaderboard tbody tr:hover {
  background-color: #f0f0f0;
}

#backButtonLeader {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: rgba(255, 255, 255, 0.5); /* Half-transparent white background */
    border: 1px solid #ccc;
    padding: 10px 20px; /* Increased padding for better appearance */
    cursor: pointer;
    z-index: 1000;
    text-decoration: none; /* Remove underline */
    color: #333; /* Text color */
    border-radius: 5px; /* Rounded corners */
}
