canvas {
    width: 100%;
    height: auto;
    margin: 20px auto;
    display: block;
}

@media (min-width: 768px) {
    canvas {
        width: 80%;
    }
}

@media (min-width: 1200px) {
    canvas {
        width: 50%;
    }
}

/* Table Styles */
table {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #dddddd;
}

th, td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 10px;
}

th {
    cursor: pointer;
    background-color: #f2f2f2;
}

th:hover {
    background-color: #e0e0e0;
}

#backButton {
    top: 10px;
    left: 10px;
    background-color: rgba(255, 255, 255, 0.5); /* Half-transparent white background */
    border: 1px solid #ccc;
    padding: 10px 20px; /* Increased padding for better appearance */
    cursor: pointer;
    text-decoration: none; /* Remove underline */
    color: #333; /* Text color */
    border-radius: 5px; /* Rounded corners */
}
/* Remove underline from hyperlinks */
a {
    text-decoration: none;
}

/* Title Styles */
.chart-title {
text-align: center;
font-size: 14px;
margin-bottom: -100px;
font-family: Arial, sans-serif; /* Set the desired font */
color: #555; /* Set the desired text color */
}

/* Title Styles-Main */
.chart-title-main {
text-align: center;
font-size: 14px;
margin-bottom: 0px;
font-family: Arial, sans-serif; /* Set the desired font */
color: #555; /* Set the desired text color */
}

/* Table Styles */
table {
  border-collapse: collapse;
  width: 100%;
  border: 1px solid #dddddd;
}

th, td {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 10px;
}

th {
  cursor: pointer;
  background-color: #f2f2f2;
}

th:hover {
  background-color: #e0e0e0;
}

/* Indicate clickable headers */
.sortable-header:after {
  content: ' ⇅'; /* Unicode for up-down arrow */
  font-size: 0.8em;
  margin-left: 5px;
}

/* Remove arrow content when not sorted */
.sortable-header[data-sorted="false"]:after {
  content: ' ⇅'; /* Add arrow content when not sorted */
}

.sortable-header[data-sorted="true"]:after {
  content: ' ⇅'; /* Keep arrow content when sorted */
}
