html, body {
    height: 100%;
    padding: 0;
    margin: 0;
    }
  #map {
   height: 100%;
   }

/* CSS for positioning the buttons */
#buttons-container-row1 {
    position: absolute;
    height: 20px;
    bottom: 245px; /* Adjust the top position as needed */
    left: 10px; /* Adjust the left position as needed */
    display: flex;
    flex-wrap: wrap;
    z-index: 999; /* Ensure buttons appear above other elements */
}

#buttons-container-row2 {
    position: absolute;
    height: 20px;
    bottom: 195px; /* Adjust the top position as needed */
    left: 10px; /* Adjust the left position as needed */
    display: flex;
    flex-wrap: wrap;
    z-index: 999; /* Ensure buttons appear above other elements */
}

#buttons-container-row3 {
    position: absolute;
    bottom: 140px; /* Adjust the top position as needed */
    left: 10px; /* Adjust the left position as needed */
    display: flex;
    flex-wrap: wrap;
    z-index: 999; /* Ensure buttons appear above other elements */
}

#buttons-container-row4 {
    position: absolute;
    bottom: 100px; /* Adjust the top position as needed */
    left: 10px; /* Adjust the left position as needed */
    display: flex;
    flex-wrap: wrap;
    z-index: 999; /* Ensure buttons appear above other elements */
}

#buttons-container-row5 {
    position: absolute;
    bottom: 60px; /* Adjust the top position as needed */
    left: 10px; /* Adjust the left position as needed */
    display: flex;
    flex-wrap: wrap;
    z-index: 999; /* Ensure buttons appear above other elements */
}

/* Style for the buttons */
.map-button {
    background: none;
    height: 30px;
    border: none;
    padding: 0;
    margin: 5px; /* Adjust margin as needed */
    cursor: pointer;
}




 .leaderboard-widget {
             display: block; /* Initially visible */
             position: absolute;
             bottom: 20px; /* Adjust the bottom position as needed */
             left: 60%;
             transform: translateX(-50%);
             z-index: 1000; /* Ensure the leaderboard is above the map */
             background-color: rgba(255, 255, 255, 0.5); /* More transparent background */
             border: 1px solid rgba(0, 0, 0, 0.1); /* Transparent border */
             border-radius: 3px;
             padding: 3px; /* Reduce the padding */
             max-width: 200px; /* Reduce the max-width */
             box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.1);
         }

         .leaderboard-widget h2 {
             font-size: 0.9em; /* Reduce the font size */
             margin-bottom: 3px; /* Reduce the margin */
             text-align: center;
             display: flex;
             justify-content: space-between; /* Add space between title and "See all" link */
             align-items: center; /* Center vertically */
         }

         .leaderboard-widget a {
             font-size: 0.8em;
             color: #007bff; /* Blue color for the link */
             text-decoration: none;
         }

         .leaderboard-widget a:hover {
             text-decoration: underline; /* Underline on hover */
         }

         .leaderboard-widget ol {
             list-style-type: none;
             padding: 0;
             margin: 0;
         }

         .leaderboard-widget li {
             margin-bottom: 1px; /* Reduce the margin */
             padding: 2px; /* Reduce the padding */
             background-color: rgba(255, 255, 255, 0.8); /* More transparent background */
             border-radius: 2px;
             box-shadow: none; /* Remove the box-shadow */
             font-size: 0.8em; /* Reduce the font size */
         }

         .hide-button {
             position: absolute;
             bottom: -15px;
             left: 40%;
             background-color: transparent;
             color: #007bff;
             border: none;
             font-size: 0.8em;
             cursor: pointer;
         }

         .show-button {
             display: none; /* Initially hidden */
             position: absolute;
             bottom: 10px;
             left: 50%;
             transform: translateX(-50%);
             background-color: transparent;
             color: #007bff;
             border: none;
             font-size: 0.8em;
             cursor: pointer;
         }
    
.twitter-container {
  position: fixed;
  bottom: 60px;
  left: 15px;
  z-index: 9999;
}

.twitter-follow-button {
  display: inline-block;
  background-color: #000000;
  color: #fff;
  padding: 4px 8px;
  border-radius: 16px;
  font-weight: bold;
  text-decoration: none;
}
    .floating {
      position: absolute;
      top: 20px;
      left: 20px;
      z-index: 1000;
      background-color: rgba(255, 255, 255, 0.8);
      padding: 10px;
      border-radius: 5px;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
      opacity: 1.0;
    }
    .checkbox-container {
        display: flex;
        flex-direction: row;
      }
    
    
    .floating-button {
      position: absolute;
      bottom: 195px;
      left: 8px;
      z-index: 999;
    }

    .floating-button-icon {
      font-size: 30px; /* Adjust the size of the icon as needed */
      color: #000000; /* Adjust the color of the icon as needed */
      padding: 10px; /* Add padding around the icon as needed */
      background-color: rgba(255, 255, 255, 0.0); /* Add background color to the icon as needed */
      border-radius: 50%; /* Apply border radius to create a circular button */
    }
    
    .floating-window {
      position: fixed;
      bottom: 400px;
      right: 60px;
      z-index: 9999;
    }

    .toggle-button {
      position: absolute;
      top: 45px;
      right: 0;
      width: 20px;
      height: 20px;
      font-size: 20px;
      font-weight: bold;
      text-align: center;
      color: transparent;
      background-color: transparent;
      border: none;
      border-radius: 50%;
      cursor: pointer;
      opacity: 0;
    }

    .arrow-button {
      position: absolute;
      top: 47px;
      left: -22;
      width: 20px;
      height: 20px;
      font-size: 20px;
      font-weight: bold;
      text-align: center;
      color: black;
      background-color: transparent;
      border: none;
      cursor: pointer;
      opacity: 1;
    }
    
    .content {
      position: absolute;
      top: 0;
      right: -295px;
      width: 240px;
      padding: 10px;
      background-color: rgba(255, 255, 255, 0.8);
      padding: 10px;
      border-radius: 5px;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
      transition: right 0.5s;
      z-index: -1;
    }

    .show {
      right: 0;
      z-index: 9999;
    }

    
    .blinking-marker {
      /* Set the marker icon to the URL of your blinking gif */
      background-image: url(img/rover.gif);
      /* Set the width and height of the marker */
      width: 20px;
      height: 20px;
      /* Set the background position to display the first frame of the gif */
      background-position: 0 0;
      /* Set the animation to cycle through the frames of the gif */
      animation: blink 1s steps(2) infinite;
    }
    /* Define the animation */
    @keyframes blink {
      50% {
        background-position: -32px 0;
      }
    }

    * {
      outline: none !important;
    }
